.image-container {
  width: 400px;
  height: 210px;
  background-color: #dfdfdf;
  margin: 2rem auto 1rem;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container p {
  font-size: 0.9rem;
  color: #2d2d2d;
  margin: 0;
}
